.not-found{
    background-image: url('https://i.ibb.co/ZxyFDJ9/daniel-jensen-UDle-HDOh-BZ8-unsplash.jpg');
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: start;
}
.go-btn{
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 68, 0, 0.637);
    color: floralwhite;
    margin-top: 50px;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
}
.go-btn:hover{
    background-color: rgba(218, 165, 32, 0.616);
    color: black;

}

#notfound{
    font-weight: bolder;
    color:skyblue;
}