.offer-container{
background-color: rgba(224, 255, 255, 0.548);
}
.offer-title{
    color: rebeccapurple;
    color: mediumaquamarine;
    color: sienna;
    color: Teal;
    letter-spacing: 10px;
    font-weight: 700;
    text-decoration: underline overline;
}
.offer-text{
    color: darkred;
}
.offer-text-part p{
    text-align: justify;
    color: gray;
}